In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
%pwd

'd:\\data_science\\Euron_DS\\E-Commerce-book-recommendation-system\\notebooks'

In [3]:
os.chdir("..\\")
%pwd

'd:\\data_science\\Euron_DS\\E-Commerce-book-recommendation-system'

In [4]:
df_books = pd.read_csv("BX-Books.csv", sep=";", on_bad_lines='skip', encoding="latin-1")
df_books.head()

C:\Users\lenovo\AppData\Local\Temp\ipykernel_13872\1659236316.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df_books = pd.read_csv("BX-Books.csv", sep=";", on_bad_lines='skip', encoding="latin-1")

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-S,Image-URL-M,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...,http://images.amazon.com/images/P/0393045218.0...

In [5]:
df_books.shape

(271360, 8)

In [6]:
df_books.columns

Index(['ISBN', 'Book-Title', 'Book-Author', 'Year-Of-Publication', 'Publisher',
       'Image-URL-S', 'Image-URL-M', 'Image-URL-L'],
      dtype='object')

In [7]:
df_books=df_books.drop(columns=['Image-URL-S', 'Image-URL-M'], axis=1)
df_books.head(5)

,ISBN,Book-Title,Book-Author,Year-Of-Publication,Publisher,Image-URL-L
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...

In [8]:
df_books.columns=['ISBN', 'Title', 'Author', 'Year', 'Publisher',
       'Image_url']

In [9]:
df_books.head()

,ISBN,Title,Author,Year,Publisher,Image_url
0,0195153448,Classical Mythology,Mark P. O. Morford,2002,Oxford University Press,http://images.amazon.com/images/P/0195153448.0...
1,0002005018,Clara Callan,Richard Bruce Wright,2001,HarperFlamingo Canada,http://images.amazon.com/images/P/0002005018.0...
2,0060973129,Decision in Normandy,Carlo D'Este,1991,HarperPerennial,http://images.amazon.com/images/P/0060973129.0...
3,0374157065,Flu: The Story of the Great Influenza Pandemic...,Gina Bari Kolata,1999,Farrar Straus Giroux,http://images.amazon.com/images/P/0374157065.0...
4,0393045218,The Mummies of Urumchi,E. J. W. Barber,1999,W. W. Norton &amp; Company,http://images.amazon.com/images/P/0393045218.0...

In [10]:
df_books["Image_url"][4]

'http://images.amazon.com/images/P/0393045218.01.LZZZZZZZ.jpg'

In [11]:
df_users = pd.read_csv("BX-Users.csv", sep=";", on_bad_lines='skip', encoding="latin-1")
df_users.head()

   User-ID                            Location   Age
0        1                  nyc, new york, usa   NaN
1        2           stockton, california, usa  18.0
2        3     moscow, yukon territory, russia   NaN
3        4           porto, v.n.gaia, portugal  17.0
4        5  farnborough, hants, united kingdom   NaN

In [12]:
df_users.shape

(278858, 3)

In [13]:
df_ratings = pd.read_csv("BX-Book-Ratings.csv", sep=";", on_bad_lines='skip', encoding="latin-1")
df_ratings.head()

   User-ID        ISBN  Book-Rating
0   276725  034545104X            0
1   276726  0155061224            5
2   276727  0446520802            0
3   276729  052165615X            3
4   276729  0521795028            6

In [14]:
df_ratings.shape

(1149780, 3)

In [15]:
df_ratings.nunique()

User-ID        105283
ISBN           340556
Book-Rating        11
dtype: int64

In [16]:
df_ratings["Book-Rating"].value_counts()

Book-Rating
0     716109
8     103736
10     78610
7      76457
9      67541
5      50974
6      36924
4       8904
3       5996
2       2759
1       1770
Name: count, dtype: int64

In [17]:
x=df_ratings["User-ID"].value_counts()>200

In [18]:
x[x].shape

(899,)

In [19]:
y=x[x].index

In [20]:
y

Index([ 11676, 198711, 153662,  98391,  35859, 212898, 278418,  76352, 110973,
       235105,
       ...
       260183,  73681,  44296, 155916,   9856, 274808,  28634,  59727, 268622,
       188951],
      dtype='int64', name='User-ID', length=899)

In [21]:
df_ratings=df_ratings[df_ratings["User-ID"].isin(y)]

In [22]:
df_ratings

         User-ID        ISBN  Book-Rating
1456      277427  002542730X           10
1457      277427  0026217457            0
1458      277427  003008685X            8
1459      277427  0030615321            0
1460      277427  0060002050            0
...          ...         ...          ...
1147612   275970  3829021860            0
1147613   275970  4770019572            0
1147614   275970   896086097            0
1147615   275970  9626340762            8
1147616   275970  9626344990            0

[526356 rows x 3 columns]

In [23]:
ratings_with_books = df_ratings.merge(df_books, on="ISBN")

In [24]:
ratings_with_books.head()

,User-ID,ISBN,Book-Rating,Title,Author,Year,Publisher,Image_url
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...
1,277427,0026217457,0,Vegetarian Times Complete Cookbook,Lucy Moll,1995,John Wiley &amp; Sons,http://images.amazon.com/images/P/0026217457.0...
2,277427,003008685X,8,Pioneers,James Fenimore Cooper,1974,Thomson Learning,http://images.amazon.com/images/P/003008685X.0...
3,277427,0030615321,0,"Ask for May, Settle for June (A Doonesbury book)",G. B. Trudeau,1982,Henry Holt &amp; Co,http://images.amazon.com/images/P/0030615321.0...
4,277427,0060002050,0,On a Wicked Dawn (Cynster Novels),Stephanie Laurens,2002,Avon Books,http://images.amazon.com/images/P/0060002050.0...

In [25]:
ratings_with_books[ratings_with_books["Title"].str.contains("Harry Potter")]

,User-ID,ISBN,Book-Rating,Title,Author,Year,Publisher,Image_url
171,277427,0439064872,0,Harry Potter and the Chamber of Secrets (Book 2),J. K. Rowling,2000,Scholastic,http://images.amazon.com/images/P/0439064872.0...
172,277427,0439136369,0,Harry Potter and the Prisoner of Azkaban (Book 3),J. K. Rowling,2001,Scholastic,http://images.amazon.com/images/P/0439136369.0...
173,277427,043936213X,0,Harry Potter and the Sorcerer's Stone (Book 1),J. K. Rowling,2001,Scholastic,http://images.amazon.com/images/P/043936213X.0...
2759,278418,0439282799,0,Harry Potter Fun Book,Warner Bros.,2001,"Scholastic, Inc",http://images.amazon.com/images/P/0439282799.0...
5091,254,0439064864,9,Harry Potter and the Chamber of Secrets (Book 2),J. K. Rowling,1999,Scholastic,http://images.amazon.com/images/P/0439064864.0...
...,...,...,...,...,...,...,...,...
487392,275970,0807281948,0,Harry Potter and the Chamber of Secrets (Book ...,J. K. Rowling,1999,Listening Library,http://images.amazon.com/images/P/0807281948.0...
487393,275970,0807281956,0,Harry Potter and the Sorcerer's Stone (Book 1 ...,J. K. Rowling,1999,Listening Library,http://images.amazon.com/images/P/0807281956.0...
487394,275970,0807282324,0,Harry Potter and the Prisoner of Azkaban (Book...,J.K. ROWLING,2000,Listening Library,http://images.amazon.com/images/P/0807282324.0...
487395,275970,0807282596,0,Harry Potter and the Goblet of Fire (Book 4 Au...,J. K. Rowling,2000,Bantam Books-Audio,http://images.amazon.com/images/P/0807282596.0...
487500,275970,0972393617,0,Ultimate Unofficial Guide to the Mysteries of ...,Galadriel Waters,2003,Wizarding World Press,http://images.amazon.com/images/P/0972393617.0...

In [26]:
number_rating = ratings_with_books.groupby('Title')['Book-Rating'].count().reset_index()

In [27]:
number_rating.head()

                                               Title  Book-Rating
0   A Light in the Storm: The Civil War Diary of ...            2
1                              Always Have Popsicles            1
2               Apple Magic (The Collector's series)            1
3   Beyond IBM: Leadership Marketing and Finance ...            1
4   Clifford Visita El Hospital (Clifford El Gran...            1

In [28]:
number_rating.rename(columns={'Book-Rating':'num_of_rating'},inplace=True)

In [29]:

number_rating.head()

                                               Title  num_of_rating
0   A Light in the Storm: The Civil War Diary of ...              2
1                              Always Have Popsicles              1
2               Apple Magic (The Collector's series)              1
3   Beyond IBM: Leadership Marketing and Finance ...              1
4   Clifford Visita El Hospital (Clifford El Gran...              1

In [30]:
final_rating = ratings_with_books.merge(number_rating, on='Title')

In [31]:
final_rating.head()

,User-ID,ISBN,Book-Rating,Title,Author,Year,Publisher,Image_url,num_of_rating
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
1,277427,0026217457,0,Vegetarian Times Complete Cookbook,Lucy Moll,1995,John Wiley &amp; Sons,http://images.amazon.com/images/P/0026217457.0...,7
2,277427,003008685X,8,Pioneers,James Fenimore Cooper,1974,Thomson Learning,http://images.amazon.com/images/P/003008685X.0...,1
3,277427,0030615321,0,"Ask for May, Settle for June (A Doonesbury book)",G. B. Trudeau,1982,Henry Holt &amp; Co,http://images.amazon.com/images/P/0030615321.0...,1
4,277427,0060002050,0,On a Wicked Dawn (Cynster Novels),Stephanie Laurens,2002,Avon Books,http://images.amazon.com/images/P/0060002050.0...,13

In [32]:
final_rating = final_rating[final_rating['num_of_rating'] >= 50]

In [33]:

final_rating.head()

,User-ID,ISBN,Book-Rating,Title,Author,Year,Publisher,Image_url,num_of_rating
0,277427,002542730X,10,Politically Correct Bedtime Stories: Modern Ta...,James Finn Garner,1994,John Wiley &amp; Sons Inc,http://images.amazon.com/images/P/002542730X.0...,82
13,277427,0060930535,0,The Poisonwood Bible: A Novel,Barbara Kingsolver,1999,Perennial,http://images.amazon.com/images/P/0060930535.0...,133
15,277427,0060934417,0,Bel Canto: A Novel,Ann Patchett,2002,Perennial,http://images.amazon.com/images/P/0060934417.0...,108
18,277427,0061009059,9,One for the Money (Stephanie Plum Novels (Pape...,Janet Evanovich,1995,HarperTorch,http://images.amazon.com/images/P/0061009059.0...,108
24,277427,006440188X,0,The Secret Garden,Frances Hodgson Burnett,1998,HarperTrophy,http://images.amazon.com/images/P/006440188X.0...,79

In [34]:
# lets drop the duplicates
final_rating.drop_duplicates(['User-ID','Title'],inplace=True)

In [35]:

final_rating.isnull().sum()

User-ID          0
ISBN             0
Book-Rating      0
Title            0
Author           0
Year             0
Publisher        0
Image_url        0
num_of_rating    0
dtype: int64

In [36]:
# Lets create a pivot table
book_pivot = final_rating.pivot_table(columns='User-ID', index='ISBN', values= 'Book-Rating')

In [37]:
book_pivot

User-ID,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
ISBN,,,,,,,,,,,,,,,,,,,,,
0001047973,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0006177379,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0020697406,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
002542730X,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,10.0,NaN,NaN,NaN
002542730x,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
B00009EF82,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
B00009NDAN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,10.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
B0000T6KHI,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
B0001PIOX4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
B000234N76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [38]:

book_pivot.shape

(2176, 888)

In [39]:
book_pivot.fillna(0, inplace=True)

In [40]:
book_pivot

User-ID,254,2276,2766,2977,3363,3757,4017,4385,6242,6251,...,274004,274061,274301,274308,274808,275970,277427,277478,277639,278418
ISBN,,,,,,,,,,,,,,,,,,,,,
0001047973,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0006177379,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
0020697406,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
002542730X,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,10.0,0.0,0.0,0.0
002542730x,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
B00009EF82,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
B00009NDAN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,10.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
B0000T6KHI,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
B0001PIOX4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
B000234N76,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [41]:
book_pivot.iloc[3,:]

User-ID
254        0.0
2276       0.0
2766       0.0
2977       0.0
3363       0.0
          ...
275970     0.0
277427    10.0
277478     0.0
277639     0.0
278418     0.0
Name: 002542730X, Length: 888, dtype: float64

In [42]:
from scipy.sparse import csr_matrix

In [43]:
book_sparse = csr_matrix(book_pivot)

In [44]:
book_sparse

<Compressed Sparse Row sparse matrix of dtype 'float64'
	with 14961 stored elements and shape (2176, 888)>

In [45]:
type(book_sparse)

scipy.sparse._csr.csr_matrix

In [46]:
from sklearn.neighbors import NearestNeighbors
model = NearestNeighbors(n_neighbors=6, metric='cosine')

In [47]:
model.fit(book_sparse)

NearestNeighbors(metric='cosine', n_neighbors=6)

In [48]:
isbn_to_title = dict(zip(final_rating['ISBN'], final_rating['Title']))
title_to_isbn = dict(zip( final_rating['Title'],final_rating['ISBN']))

In [49]:
def recommend_books(book_name):
    isbn=title_to_isbn[book_name]
    book_index = np.where(book_pivot.index == isbn)[0][0]
    distance, suggestion = model.kneighbors(book_pivot.iloc[book_index, :].values.reshape(1, -1))

    print(f"Because you liked {isbn_to_title[isbn]}, you might also like:\n")
    for i in range(1, len(suggestion[0])):  # Start from 1 to skip the same book
        print(isbn_to_title.get(book_pivot.index[suggestion[0][i]]))
    
    return suggestion

In [50]:
suggestion = recommend_books("The Secret Garden")
suggestion

Because you liked The Secret Garden, you might also like:

Beach Music
Prime Cut
Tough Cookie
The Edge
Ashes to Ashes

array([[1450, 1449, 1451, 1453, 1448, 1455]], dtype=int64)

In [51]:
book_isbn=book_pivot.index
book_isbn

Index(['0001047973', '0006177379', '0020697406', '002542730X', '002542730x',
       '0060008024', '0060008032', '006001203X', '0060086246', '0060090367',
       ...
       '9505112076', 'B00001IVC7', 'B00001U0CP', 'B00007CWQC', 'B00008WFXL',
       'B00009EF82', 'B00009NDAN', 'B0000T6KHI', 'B0001PIOX4', 'B000234N76'],
      dtype='object', name='ISBN', length=2176)

In [52]:
book_names=final_rating["Title"].tolist()

In [53]:
np.where(book_pivot.index==title_to_isbn['Bel Canto: A Novel'])[0][0]

44

In [54]:
idx=np.where(final_rating["Title"]=='Bel Canto: A Novel')[0][0]

In [55]:
final_rating.iloc[idx]['Image_url']

'http://images.amazon.com/images/P/0060934417.01.LZZZZZZZ.jpg'

In [56]:
image_urls = [
    final_rating.loc[final_rating['ISBN'] == book_pivot.index[book_id], 'Image_url'].values[0]
    for book_id in suggestion[0]
    if len(final_rating.loc[final_rating['ISBN'] == book_pivot.index[book_id], 'Image_url'].values) > 0
]

for url in image_urls:
    print(url)

http://images.amazon.com/images/P/0553574663.01.LZZZZZZZ.jpg
http://images.amazon.com/images/P/0553574574.01.LZZZZZZZ.jpg
http://images.amazon.com/images/P/0553574671.01.LZZZZZZZ.jpg
http://images.amazon.com/images/P/0553578308.01.LZZZZZZZ.jpg
http://images.amazon.com/images/P/0553574035.01.LZZZZZZZ.jpg
http://images.amazon.com/images/P/0553579606.01.LZZZZZZZ.jpg

In [57]:
import pickle
pickle.dump(model,open('artifacts/model.pkl','wb'))
pickle.dump(book_names,open('artifacts/book_names.pkl','wb'))
pickle.dump(final_rating,open('artifacts/final_rating.pkl','wb'))
pickle.dump(book_pivot,open('artifacts/book_pivot.pkl','wb'))

Model Testing

In [59]:
book_name = "Harry Potter and the Sorcerer's Stone (Book 1)"
recommend_books(book_name)

Because you liked Harry Potter and the Sorcerer's Stone (Book 1), you might also like:

Harry Potter and the Chamber of Secrets (Book 2)
Carolina Moon
The Fourth Hand
Jacob Have I Loved
A Civil Action

array([[857, 858, 717, 369,  78, 636]], dtype=int64)